
    <div class="contenedor">
        <h2> {{TITULO_BIENVENIDA}}</h2>
        <p class="parrafoBienvenida"></p>
        SII, ha optado por una estructura corporativa que ofrezca la capacidad de respuesta y flexibilidad asociadas con
        los servicios de nivel local, todos los cuales tienen acceso a todos los recursos operativos del Grupo y pueden
        proporcionar servicios efectivos a las operaciones internacionales de grandes corporaciones en 18 países y 4
        continentes. SII Colombia, es una empresa constituida, con sede en Bogotá, que está dispuesta a dirigirse al
        mercado local y buscar oportunidades en otras ciudades de Colombia.
        <br />
        Nuestra misión es desarrollar una relación confiable, innovadora y de largo plazo como Partner Tecnológico con
        nuestros clientes, aumentando la generación de valor de sus negocios a través de nuestras soluciones
        tecnológicas.
        <br />
        Equipos de trabajo apasionados y profesionales, respaldan a cada uno de nuestros clientes nacionales e
        internacionales en diferentes industrias, al brindar servicios de calidad generando el menor impacto ambiental
        posible.
        <br />
        Nuestra visión es posicionar a SII Colombia como el principal partner tecnológico en cada uno de nuestros
        clientes.
    </div>
