<mat-toolbar class="mat-toolbar mat-primary">
    <img class="iconosHeader" src="assets/imagenes/icono-empresa.png" alt="Icono empresa software" />
    <span class="espacio"></span>
    <div class="contenedorHeader" fxLayout="column" fxLayoutAlign="center end">
        <div class="nombreUsuario">
            {{NOMBRE_USUARIO}}
        </div>
        <div class="fechaIngreso">
            {{ULTIMA_HORA_INGRESO}}
        </div>
    </div>
    <span></span>
    <div class="iconoUsuario">
        <img class="iconosHeader" src="assets/imagenes/usuario.png" alt="Imagen logo usuario">
    </div>
</mat-toolbar>
