.contenedorHeader{
    cursor: pointer;
    :hover{
        background: #8bb9dc;
    }
}

.iconoUsuario{
    margin: 10px;
    display: flex;
}

.nombreUsuario{
    height: 25px;
    color: #F8F7F7;
    font-size: small;
    border: none;
}

.fechaIngreso{
    height: 25px;
    font-size: x-small;
    color: #8BB9DC;
    border: none;
    padding: none;
    margin: none;
}

.iconosHeader{
    height: 50px;
}

.espacio{
    flex: 1 1 auto;
}