.contenedor{
    height: 100vh;
    
}

.piePagina{
    height: 100px;
}

.contenidoContenedor{
    display: flex;
    flex-flow: row ;
    align-items: stretch;
}
.contenidoPaginaPrincipal{
    flex-flow: column;
}
