<div class="contenedor">
    <div fxLayout="column" fxFlexFill>
        <header>
            <app-header></app-header>
        </header>
        <main  class="contenido-not-found">
            <h1> Página no encontrada </h1>
            <br/>
            <img src="assets/imagenes/pagina-construccion.webp" alt="Página en construcción">                        
            <br/>
            <div >
                <button class="submit-button button-warn" routerLink="/principal">
                    Ir a inicio
                </button>  
            </div>
                          
        </main>  
        <footer>
            <app-footer></app-footer>
        </footer>      
    </div>
</div>
